@use "variables_ipados";
@use "sidebar";
@use "helpers";
@use "style_base";


body {
    border-top: 1px solid var(--g-separatorColorDark);
}

.sb-sidebar {
    width: unset;
    min-width: unset;
    max-width: unset;
    background-color: var(--g-backgroundBase4);
}

.sb-sidebar .sidebar {
    width: 290px;
    min-width: 290px;
    max-width: 290px;
}

.sb-sidebar .sidebar.collapsed .account-preview-fields {
    display: none;
}

.sb-sidebar .sidebar.collapsed {
    width: 80px !important;
    min-width: 80px !important;
    max-width: 80px !important;
}

.sb-sidebar .sidebar.collapsed select {
    display: none;
}

.sb-sidebar>div.sidebar.collapsed>div>input {
    display: none;
}

.icon-button>button {
    width: 24px;
    height: 24px;
    /* Using px here, we don't want this font to change ever */
    font-size: 14px;
}

.icon-button.text>button {
    width: 24px;
    height: 24px;
}

input {
    height: 30px;
    font-size: 16px;
}

.cell {
    border-radius: 16px;
    margin: 8px;
}

.toolbar {
    border-radius: 16px;
}

.content-cell {
    border-radius: 16px;
}

.boost-container>.content-cell {
    border-radius: 0px 0px 16px 16px;
}

.boost-container>.boost-header {
    border-radius: 16px 16px 0px 0px;
    background-color: var(--g-backgroundBase3);
    padding: 8px;
}

.conversation-child {
    border-radius: 16px;
}

.image-author-small {
    width: 32px;
    height: 32px;
}

/* Override the selection for cells in a collapsed context */

.sidebar.collapsed .cell.selected {
    background-color: unset;
}

.sidebar.collapsed .cell .image-author {
    border-radius: 8px;
    border: 2px solid transparent;
}

.sidebar.collapsed .cell.selected .image-author {
    border-radius: 8px;
    border: 2px solid white;
}